extends layout

block content
  h1= "Happy BirthDay !"
  p On this special day, i wish you all the very best, all the joy you can ever have and may you be blessed abundantly today, tomorrow and the days to come! May you have a fantastic birthday and many more to come... HAPPY BIRTHDAY!!!!
  

        
       
     
 

